@import url(variables.css);

/* ============================= */
/* RESET                        */
/* ============================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: var(--font-family-body);
  background-color: var(--color-purple-100);
  color: var(--color-purple-900);
}

.container {
  width: 100%;
  overflow-x: hidden;
}

/* ============================= */
/* HERO                         */
/* ============================= */

.hero {
  background: var(--color-purple-900);
  padding: 20px 20px 140px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.hero__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__logo {
  width: 96px;
  height: auto;
}

.hero__link {
  color: var(--color-white);
  font-size: 16px;
  text-decoration: underline 2px var(--color-green);
  text-underline-offset: 6px;
}

.hero__title {
  margin: 56px auto 0;
  font-family: var(--font-family-heading);
  font-size: 44px;
  color: var(--color-white);
  font-weight: 400;
  line-height: 1.1;
  width: 80%;
}

.hero__title--highlighted {
  text-decoration: underline 3px var(--color-green);
}

.hero__button {
  margin-top: 32px;
  background: var(--color-green);
  color: var(--color-purple-900);
  padding: 16px 32px;
  border: 2px solid var(--color-green);
  font-weight: bold;
  cursor: pointer;
}

.hero__image-wrapper {
  display: flex;
  justify-content: center;
}

.hero__image-wrapper {
  display: flex;
  justify-content: center;
  margin-top: -80px;
  margin-bottom: 40px;
}

.hero__image {
  width: 100%;
  max-width: 420px;
  z-index: 10;
  transform: translateX(10px);
}

/* ============================= */
/* FEATURES                     */
/* ============================= */

.features {
  background: var(--color-purple-100);
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 64px 24px;
  z-index: -10px;
  border-bottom-left-radius: 90% 10%;
  border-bottom-right-radius: 90% 10%;
}

.features__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__number {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid var(--color-purple-900);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-heading);
  margin-bottom: 24px;
}

.features__title {
  font-family: var(--font-family-heading);
  font-size: 24px;
  margin-bottom: 16px;
}

.features__description {
  font-size: 16px;
  line-height: 1.7;
}

/* ============================= */
/* FOUNDER                      */
/* ============================= */

.founder {
  padding: 110px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.founder__image-wrapper {
  width: 85%;
  height: auto;
  background: var(--color-green);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: -10;
  margin-bottom: -50px;
}

.founder__image {
  width: 100%;
  height: auto;
  transform: translateY(10px);
}

.founder__card {
  background: var(--color-purple-900);
  color: var(--color-white);
  padding: 48px 32px;
  text-align: center;
}

.founder__title {
  font-family: var(--font-family-heading);
  font-size: 28px;
  margin-bottom: 24px;
}

.founder__description {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 32px;
}

.founder__button {
  background: var(--color-green);
  color: var(--color-purple-900);
  padding: 16px 32px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.founder__footer {
  margin-top: 80px;
  text-align: center;
}

.founder__logo {
  width: 96px;
  margin-bottom: 24px;
}

.founder__socials {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
}

.founder__socials-item img {
  width: 24px;
  height: 24px;
}

/* ============================= */
/* FOOTER                       */
/* ============================= */

footer p {
  font-size: 11px;
  text-align: center;
  color: var(--color-purple-500);
  margin: 80px 0 20px;
}

@media (min-width: 768px) {

  .hero {
    background-color: var(--color-purple-900);
    padding: 48px 24px 140px;
    text-align: center;
    background-image: 
      url("../assets/images/bg-pattern-1.svg"), 
      url("../assets/images/bg-pattern-2.svg");
    background-repeat: no-repeat;
    background-size:
      270px,    
      180px;
    background-position:
      -170px 50%,   
      calc(100% + 100px) 85%;
  }

  .hero__title {
    font-size: 60px;
    color: var(--color-white);
    font-weight: 400;
    line-height: 1;
    margin: 56px auto 0;
    width: 50%;
  }

  .features {
    padding: 0 44px;
  }

  .features__item {
    flex-direction: row;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
  }

  .features__number {
    margin-right: 56px;
    margin-bottom: 0;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
  }

  .features__title {
    font-size: 28px;
    font-weight: 400;
  }

  .founder {
    padding: 180px 44px 0;
  }

  .founder__image-wrapper {
    width: 280px;
    height: 280px;
    margin-bottom: -90px;
    align-self: flex-start;
  }

  .founder__card {
    max-width: 75%;
    align-self: flex-end;
    text-align: left;
    padding: 48px;
  }

  .founder__title {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 400;
  }

  .founder__description {
    font-size: 16px;
    line-height: 1.8;
  }

  .founder__button {
    font-size: 18px;
    line-height: 1.8;
  }

  @media (min-width: 1024px) {
    .hero__title {
      font-size: 80px;
      width: 60%;
    }

    .features {
      padding: 0 80px;
    }

    .features__list {
      flex-direction: row;
      justify-content: space-between;
      text-align: center;
    }

    .features__item {
      flex-direction: column;
      text-align: center;
    }

    .features__number {
      margin-right: 0;
      margin-bottom: 56px;
    }

    .features__title {
      width: 110%;
      margin: 0 auto 28px
    }

    .founder {
      padding: 200px 80px 0;
    }

    .founder__image-wrapper {
      width: 477px;
      height: 477px;
      margin-bottom: -290px;
      align-self: flex-start;
    }

    .founder__card {
      max-width: 60%;
      align-self: flex-end;
    }

    .founder__title {
      font-size: 56px;
      line-height: 1.2;
    }

    .founder__description {
      font-size: 18px;
      line-height: 1.8;
    }
  }}