@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


:root {
  --color-green: #44FFA1;
  --color-purple-900: #24053E;
  --color-purple-500: #584D62;
  --color-purple-100: #FCF8FF;
  --color-white: #FFFFFF;

  --font-family-heading: 'Fraunces', serif;
  --font-family-body: 'Manrope', sans-serif;
}